<?xml version="1.0"?>
<configuration>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>

  <appSettings>
    <add key="Server" value="HOPEFOUNDATION"/>
    <add key="LicenceServer" value="hopefoundation"/>
    <add key="SAPDBNameLC" value="HOPE_CL_TEST"/>
    <add key="SAPDBNameCON" value="HOPE_CL_CONS"/>
    <add key="ServerType" value="2012"/>
    <add key ="SAPUserName" value="manager"/>
    <add key ="SAPPassword" value="74123"/>
    <add key ="DBUser" value="sa"/>
    <add key ="DBPwd" value="Welcome1#"/>


    <!--<add key="MSQLServer" value="http://ec2-35-164-149-184.us-west-2.compute.amazonaws.com/phpmyadmin/"/>-->
    <add key="MSQLServer" value="localhost"/>
    <add key="MSQLPort" value="8083"/>
    <add key="MSQLDBName" value="hope"/>
    <add key ="MSQLDBUser" value="B1if"/>
    <add key ="MSQLDBPwd" value="!@#$"/>
    
    <add key="Debug" value="ON"/>
   
  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
